<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
<script type="text/javascript" src="fileUpload.js"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="../../static/styles.css">
<title> My Friends </title>
<style>
  .parent {
    display: grid;
    grid-template-columns: fit-content(40%) fit-content(40%) fit-content(40%);
    grid-template-rows: auto;
    justify-content: center;
  }

  .profile{
    font-size: 22px;
  }

  body{
    color: black;
  }

  a{
    font-size:1rem;
  }

  label{
    color: black;
    font-size: 1.25rem;
    font-weight: normal;
  }

  .inner
  {
      display: inline-block;
  }
</style>
</head>
<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Friend Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {% if authed %}
          <a class="nav-link" href="/profile/{{ auth }}">My Profile</a>
        {% else %}
          <a class="nav-link" href="/">Login</a>
        {% endif %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/all-profiles">All Profiles</a>
      </li>
      {% if authed %}
      <li class="nav-item active">
        <a class="nav-link" href="/friends">My Friends</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout"> Logout </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0 ml-auto searchspaced" method="POST" action="/search">
          <div class="input-group">
            <input type="search" class="form-control rounded" name="search" placeholder="Search"></input>
            <button class="btn btn-light paddedBtn" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
<body>
<div class="parent">
  <div class="container mt-5">
    <div>
        <div class="col-md-7">
            <div id="outgoing_div" class="card p-3 py-4 border-dark" style="width: 26rem; ">
              <h4 align="center"> Outgoing Requests </h4>
              {% if leno > 0 %}
                {% for o in outgoing %}
                  <form method="POST" action="/cancel_friendship?users={{ auth }}+{{ o }}">
                    <div>
                      <label for="cancelBtn" class="mr-3 my-3"> @{{ o }} </label> <button align="right" class="btn btn-danger" id="cancelBtn">Cancel</button>
                    </div>
                  </form>
                {% endfor %}
              {% else %}
                <p class="my-3"> No outgoing requests. </p>
              {% endif %}
            </div>
        </div>
    </div>
  </div>

  <div class="container mt-5">
    <div>
        <div class="col-md-7">
            <div id="incoming_div" class="card p-3 py-4 border-dark" style="width: 26rem; ">
              <h4 align="center"> Incoming Requests </h4>
              {% if leni > 0 %}
                {% for i in incoming %}

                <div>

                  <label for="acceptBtn" class="mr-3 my-3"> @{{ i }} </label>
                  <div class="inner">
                    <form method="POST" action="/confirm_friendship?users={{ i }}+{{ auth }}">
                      <button class="btn btn-success" id="acceptBtn">Accept</button>
                    </form>
                  </div>

                  <div class="inner">
                    <form method="POST" action="/cancel_friendship?users={{ auth }}+{{ i }}">
                      <button class="btn btn-danger" id="cancelBtn">Cancel</button>
                    </form>
                  </div>
                </div>

                {% endfor %}
              {% else %}
                <p class="my-3"> No incoming requests. </p>
              {% endif %}
            </div>
        </div>
    </div>
  </div>

  <div class="container mt-5">
    <div>
        <div class="col-md-7">
            <div id="friends_div" class="card p-3 py-4 border-dark" style="width: 26rem; ">
              <h4 align="center"> My Friends </h4>
              {% if lenf > 0 %}
                {% for f in friends %}

                <div>

                  <label for="cancelBtn" class="mr-3 my-3"> @{{ f }} </label>
                  <div class="inner">
                    <form method="POST" action="/cancel_friendship?users={{ auth }}+{{ f }}">
                      <button class="btn btn-danger" id="cancelBtn">Remove</button>
                    </form>
                  </div>
                </div>

                {% endfor %}
              {% else %}
                <p class="my-3"> No friends. </p>
              {% endif %}
            </div>
        </div>
    </div>
  </div>
</div>
</body>
</html>
