<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
<script type="text/javascript" src="fileUpload.js"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="../../static/styles.css">
<style>
  #fademe{
  opacity:0;
  transition:2s;
  }

  #fadeafter{
  opacity:0;
  transition:3s;
  }

  a{
    font-size: 1rem;
  }

</style>
<title> Campus Friend Finder </title>
</head>

<body>
  <div id="bgimg"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Friend Finder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          {% if authed %}
            <a class="nav-link" href="/profile/{{ username }}">My Profile</a>
          {% else %}
            <a class="nav-link" href="/">Login</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all-profiles">All Profiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Friends (WIP)</a>
        </li>
        {% if authed %}
        <li class="nav-item">
          <a class="nav-link" href="/logout"> Logout </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="my-5" align="center" id="fademe">
    <strong><h1> Campus Friend Finder </h1></strong>
    <strong><h3> An easy way to find friends with similar interests. </h3></strong>
  </div>
  <script>
  window.onload = function(){
    document.getElementById("fademe").style.opacity = 1;
    document.getElementById("fadeafter").style.opacity = 1;
    }
  </script>
  <div id="fadeafter">
    {% if authed %}
    <div align="center">
      <a href='/profile/{{ username }}'> You're currently logged in as @{{ username }}. </a>
    </div>
    {% else %}
    <form method="POST" action="/login">
      <div class="form-group" align="center">
        <div class="w-25">
            <strong><label for="username">Username: </label></strong>
            <input class="form-control" type="text" id="username" name="username" required>
        </div>
        <div class="my-3 w-25">
            <strong><label for="pass">Password: </label></strong>
            <input class="form-control" type="password" id="pass" name="password" minlength="8" required>
        </div>
        <input class="btn btn-primary my-3" type="submit" value="Login">
      </div>
    </form>

    <div align="center">
      <a href="/register"> No account? Register here! </a>
    </div>
    {% endif %}
  </div>
</body>
</html>
