<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
<script type="text/javascript" src="fileUpload.js"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="../../static/styles.css">
</head>
<body class="center">
  <div class="container mt-5">
    <div>
        <div class="col-md-7">
            <div class="card p-3 py-4" style="width: 26rem;">
                <div class="text-center"> <img src="https://files.catbox.moe/6pi59a.jpg" width="100" class="rounded-circle"> </div>
                    <h4 class="mt-2 mb-0">{{ user_profile.name }}</h4> <span>{{ user_profile.year }} majoring in {{ user_profile.major }}</span>
                    <div class="px-4 mt-1">
                        <p class="fonts"> {{ user_profile.biography }} </p>
                    </div>
                    <br>
                        <p class="fonts"> Here are some of my interests: </p>
                    <ul class="social-list">
                        {% for interest in user_profile.interests %}
                          <li> {{ interest }} </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <div class="buttons" align="center">
                      <button class="btn btn-outline-primary px-4">Friend (coming soon)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
